{% extends 'layout.html' %}
{% block title %}
About Me
{% endblock title %}

{% block body %}
<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">03 : About me</h1>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h3>Introduction</h3>
                  <p>Hi, I am Ashesh Thapa from Kathmandu, Nepal. I am studying BIM (Bachelors of Information Management), a course from Tribhuwan University of Nepal.
                  I enjoy programming and designing web pages and to learn new frameworks and technologies.
                  </p>
                  <h3>Little more about me.</h3>
                  <p>I am a seeker for opportunities . I am very passionate about learning and bringing the output to the real world projects.</p>
                  <h3>More about Me.</h3>
                  <p>Here is the link to my curriculum vitae</p>
                  <a href="https://drive.google.com/open?id=1V365o1JYHnW20NAZ-psx8avpzdpJ28g3">CV</a>
                </div>
                <div class="col-xs-12 col-md-6">
                  <img src="./static/assets/images/me.jpeg" class="img-responsive" alt="">
                </div>
              </div>
            </div>
          </div>
          
          
       </div>
      </div>
    </div>
  </div>




{% endblock body %}